
/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('art_career_guidance.jpg'); /* Add the URL of your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(115, 57, 117, 0.8);
    color: #f0e7e7;
    padding: 20px;
    text-align: left;
}


.header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.header p {
    margin: 5px 0;
    font-size: 16px;
}

.header nav ul {
    list-style: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-right: 10px;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
}.workshops-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .workshop {
    background-color: #a0799b;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
  }
  
  .workshop h2 {
    margin-bottom: 10px;
  }
  
  .workshop p {
    margin: 5px 0;
  }

  .workshop a {
    display: block;
    text-align: center;
    gap: 2rem;
    padding: 0.5rem 0rem;
    margin:10px;
    background-color: #492842;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .workshop a:hover {
    background-color: #b96dc0;
  }